*.sw*
*~
build/
bin/
node_modules/
vendor/
public/src/vendor/
public/dist/
public/images/
.idea/
npm-debug.log
fhir-schema/
schemas/
public/profile/
schemas-dtsu2/
.DS_Store

node_modules

npm-debug.log

dist